/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/* flex display common */
.flex {
    display: flex;
}

/* nav-flex */
.nav-flex{ 
    justify-content: center;
}

nav {
    padding: .7rem 0 .7rem 0;
    background-color: rgb(186, 255, 255);
}

.left{
    width: 15%;
    text-align: left;
}

.right {
    width: 15%;
    text-align: right;
}

.links {
    width: 30%;
    text-align: center;
}

.right,
.left,
.links {
    border: 2px dashed black;
    background-color: rgb(255, 207, 16);
    padding: 5px;
}

.front-container {
    background-color: blue;
    padding: 2rem 0 2rem 0;
}

.front {
    width: 50%;
    min-height: 400px;
    margin: 0 auto;
    background-color: plum;
    border: 2px dashed black ;
}

.fronthr {
    border: 2px solid rgb(192, 246, 246);
}